<!DOCTYPE HTML>
<html>
	<head>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
		<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        {% if title %}
			<title> {{ title }} </title>
		{% else %}
			<title> Shet, forgot a title </title>
		{% endif %}
	</head>
	<body>
		<div id="navbar">
            <!-- blank div centers navbar buttons -->
			<div style="width: 20%; height: 100%; float: left;"></div>
			<a href="/index" >
			<div id="navbar-buttons">Home</div></a>
			<a href="/plants" >			
			<div id="navbar-buttons">Plant Shit</div></a>
			<a href="/index" >
			<div id="navbar-buttons">Even more Shit</div></a>
		</div>
		{% block content %}{% endblock %}	
	</body>
	<footer>
			© Cognar {{ year }}
	</footer>	
</html>
