{% extends "base.html" %}
	{% block content %}
		<div id='plantmain'>
			<div id='plantcont'>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				Pellentesque massa risus, luctus ut leo in, feugiat lacinia 
				justo. Donec lobortis neque odio, eu pretium ligula sagittis 
				quis. Duis et malesuada metus. Ut sed velit accumsan odio 
				facilisis pellentesque. Sed in leo porttitor, ornare enim a, 
				sagittis magna. 
			</div>
			<div id='plantcont'>
				Phasellus aliquam erat eu erat eleifend gravida. Maecenas 
				ornare dapibus leo, ac volutpat lacus sagittis sed. Praesent at 
				nisl tincidunt, dignissim neque vitae, malesuada odio. Proin mollis 
				venenatis dolor, eu condimentum ligula fermentum at. Phasellus 
				bibendum nisl justo, sit amet tincidunt sapien dignissim ut.
			</div>		
			<div id='plantcont'>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				Pellentesque massa risus, luctus ut leo in, feugiat lacinia 
				justo. Donec lobortis neque odio, eu pretium ligula sagittis 
				quis. Duis et malesuada metus. Ut sed velit accumsan odio 
				facilisis pellentesque. Sed in leo porttitor, ornare enim a, 
				sagittis magna. 
			</div>
			<div id='plantcont'>
				Phasellus aliquam erat eu erat eleifend gravida. Maecenas 
				ornare dapibus leo, ac volutpat lacus sagittis sed. Praesent at 
				nisl tincidunt, dignissim neque vitae, malesuada odio. Proin mollis 
				venenatis dolor, eu condimentum ligula fermentum at. Phasellus 
				bibendum nisl justo, sit amet tincidunt sapien dignissim ut.
			</div>		
		</div>
	{% endblock %}